body
{
	background-color: #999999;
	padding:0 auto;
	margin:0;
	text-align: center;
}
.image:hover
{
	cursor:pointer;
	background-color: #777777;
}
.image
{
	padding:5px;
	margin:15px;
	width:64px;
	height:64px;
	border-radius: 50%;
	border:1px solid #666666;
}
