/*
	design.css
*/
body{
	margin:0;
	padding:0;
	border:none;
	text-align: center;
	background-color: #cccccc;
	font-size:1.0em;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.textareaDiv{
	padding:15px;
	margin:15px;
}

.mainDiv{
	word-break: break-all;
	height:auto;
	font-size:1.0em;
	border:none;
	border-radius:10px;
	text-align: left;
	cursor:pointer;
	background-color:#ffffff;
	margin:15px;
	padding:2px;
}
.mainDiv:hover{
	color:#ff0000;
}

#form{
	padding:5px;
	margin:5px;
}

#result{
	/* */
}

.button{
	padding:15px;
	margin:15px;
	cursor: pointer;
	border:none;
	outline:none;
	background-color:green;
	color:#eeeeee;
	font-size:2em;
	width:50%;
	border-radius:15px;
}

.input{
	padding:5px;
	margin:5px;
}

.textarea{
	padding:5px;
	width:50%;
	height:75px;
	outline:none;
	border:2px solid #555;
	resize: none;
}

.dateDiv{
	color:#cccccc;
	font-size:0.8em;
	text-align:center;
}
