/*
     style.css 1.15
*/
body{
     padding:0;
     margin:0;
     border:none;
     background-color: #000000;
     font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
     letter-spacing: 1px;
     font-size: 1.0em;
     font-weight: 600;
     overflow: hidden;
     color:#EEE;
     user-select: none;
}

#container{
     display: flex;
     height:100vh;
}

#left{
     padding:5px;
     flex:1;
     text-align: center;
     background-color: #130404;
}

#right{
     flex:2;
     text-align: center;
     background-color: #290909;
}

#chat{
     height:80vh;
     text-align: left;
     padding:3px;
     word-break: break-all;
     overflow:hidden;
     overflow-y:auto;
}

#box{
     height:20vh;
     padding:10px;
}

#textArea{
     outline:none;
     border:none;
     margin:0;
     padding:15px;
     width:75%;
     border-radius: 13px;
}

#theMessage{
     margin:10px;
}

#onlineUsers{
     margin:10px;
     cursor: pointer;
}
#onlineUsers:hover{
     color:#CCCCCC;
}