body{
     font-family:monospace;
     font-size: 1.2em;
     background-color: #000000;
     padding: 0;
     margin: 0;
     text-align: center;
}
#chatWindow{
     position: absolute;
     top:0px;
     left:0px;
     bottom:0px;
     width:70%;
     overflow:auto;
     word-break: break-word;
     background-color: #000000;
     color:#00b000;
     border:none;
}
#chatTools{
     position: absolute;
     top:0px;
     right:0px;
     bottom:0px;
     width:30%;
     overflow:auto;
     word-break: break-all;
     background-color: #222222;
     color:#00b000;
     border:none;
}
#chatBoxes:hover{
     background-color: #351602;
}
#chatBoxes{
     cursor:pointer;
     padding:15px;
     text-align: left;
}
#newMessage{
     padding:0;
     width:100%;
     outline:none;
     border:none;
     margin:0;
     background-color: #333333;
     color:#eeeeee;
}