body{
     padding:0;
     margin:0;
     border:none;
     background-color: #333;
     font-family:monospace;
     letter-spacing: 1px;
     font-size: 1.0em;
     font-weight: 600;
     overflow: hidden;
     color:#EEE;
     user-select: none;
}
#container {
     display: grid;
     grid-template-areas:
     "left top top"
     "left middle-top right";
     grid-template-columns: 1fr 2fr 2fr;
     grid-template-rows: auto;
     height: 100vh;
     border:none;
     gap: 3px;
}

#top {
     grid-area: top;
     text-align: center;
     padding:15px;
     background-color: rgb(41, 40, 43);
     color:#EEE;
     font-size: 1.5em;
     font-weight: 900;
     border-radius: 5px;
     border:none;
}

#left {
     grid-area: left;
     text-align: center;
     padding:15px;
     background-color: rgb(41, 40, 43);
     border-radius: 5px;
     border:none;
}

#middle-top {
     background-color: rgb(41, 40, 43);
     text-align: center;
     padding:15px;
     grid-area: middle-top;
     border-radius: 5px;
     border:none;
}

#right {
     background-color: rgb(41, 40, 43);
     text-align: center;
     padding:15px;
     grid-area: right;
     border-radius: 5px;
}

#textArea{
     outline: none;
     resize: none;
     padding:5px;
     width:85%;
     background-color: #333;
     border:1px solid #222;
     color:#fff;
     border-radius: 5px;
}

#chat{
     width:85%;
     padding:5px;
     text-align: left;
     margin:0 auto;
     overflow: hidden;
     word-break: break-all;
     height: 50vh;
}

#buttonChat{
     outline:none;
     border:none;
     background-color: rgb(151, 15, 163);
     color:#FFF;
     padding:15px;
     text-align: center;
     font-size: 1.0em;
     font-weight: 700;
     border-radius: 10px;
     cursor: pointer;
}

#theMessage{
     padding:5px;
}

#onlineUsers{
     cursor: pointer;
     padding:5px;
}
#onlineUsers:hover{
     background-color: rgb(65, 63, 68);
}
#users{
     overflow:auto;
}
#help{
     color:#666;
}
#requestChat{
     cursor: pointer;
     padding:5px;
}
#requestChat:hover{
     background-color: rgb(65, 63, 68);
}