body{
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0;
    margin:0;
    border:none;
    background-color: #bd0211;
}

a{
    text-decoration: none;
    padding:15px;
    margin:0 auto;
    color:#ffffff;
    background-color: #bd0211;
    font-weight: 900;
    font-size: 1.1em;
    outline:none;
    border:1px solid #000000;
    cursor: pointer;
}

#top{
    background-image: url("img/ny.webp?v=1.1.2");
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
    width:100%;
    height:100vh;
}

#top_text{
    align-items: center;
    align-content: center;
    text-align: center;
    border:none;
    height:100vh;
}

#top_ali{
    font-family:monospace;
    font-size:64px;
    word-break: break-all;
    font-weight: 900;
    color:#ffffff;
    text-shadow: 2px 2px #333333;
}

#main{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding:15px;
}
#main > div{
    border: none;
    width:100%;
    text-align: center;
    border:none;
    color:#33333396;
    word-break: break-word;
    background-color: #ffffff;
    border-radius: 12px;
}

#bot{
    align-items: center;
    align-content: center;
    text-align: center;
    border:none;
    color:#c9c9c9;
    padding:0;
    margin:0;
    padding-top:32px;
    padding-bottom:32px;
    background-color: #ffffff;
}

h3{
    text-decoration: none;
    padding:15px;
    color:#ffffff;
    border-radius:0px;
    border:none;
    background-color: #e82532;
    font-weight: 900;
    font-size: 1.1em;
    display: inline-block;
    outline:none;
    box-shadow: 5px 5px #333333;
}

p{
    padding:5px;
    font-size:1.2em;
}

span{
    margin:0;
    border:none;
    padding:0;
    height:0px;
    width:0px;
}

.mandag{
    text-align: center;
    object-position: center;
    object-fit: contain;
    overflow: hidden;
    padding:0;
    margin: 0 auto;
    border:none;
    outline: none;
    
    width:400px;
    height:250px;
}

img{
    padding:0;
    margin: 0;
    border:0;
    outline: none;
    overflow: hidden;
    display: block;
    margin-bottom: 0;
}

@media only screen and (max-width: 574px) {
    #top_ali{
        font-size:2.5em;
    }
    #top{
        height:50vh;
    }
    #top_text{
        height:50vh;
    }
}
@media only screen and (max-width: 356px) {
    #top_ali{
        font-size:2em;
    }
}