body{
     margin:0 auto;
     text-align: center;
     padding:0;
     background-color: dimgrey;
     color:#eeeeee;
     font-size: 16px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#divSystem{
     background-color:#000000;
     color:#56eb00;
     padding:32px;
     text-align: center;
}

#main{
     padding:16px;
     background-color: #556677;
     border-bottom:1px solid #000000;
     text-align: left;
}